{% extends 'base.html.twig' %}

{% block title %}Hello DonationController!{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="col-md-auto">
        <h2 class="mb-3">Historique des donations</h2>
        <div class="row">
            <ul>
                {% for donation in donations %}
                    <li>{{ donation.sum }} € </li>
                    <li>{{ donation.user.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}
