{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <ul class="articles">
        {# Sort article by the latest date #}
        {% for product in products |sort((a, b) => b.price <=> a.price) %}
            <li class="articleItem">
                {% if product.type == 'food' %}
                    <img src="/puppy.png" alt="article icon">
                {% else %}
                    <img src="/pet-toy.png" alt="article icon">
                {% endif %}
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
                <span class="badge">{{ product.price }} €</span>
                <button class="button">Buy</button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
